.h-max {
    min-height: 100%;
}

.c-black {
    color: black;
}

.c-white {
    color: #fff;
}

.text_write {
    font-size: 16px;
}

.smalingl-text {
    font-size: 14px;
    color: white;
}

.bigger-text {
    font-size: 20px;
}

.f-italic {
    font-style: italic !important;
}

.f-bold {
    font-weight: bolder !important;
}

.l-text {
    text-align: left !important;
}

.r-text {
    text-align: right !important;
}

.header-main {
    background: linear-gradient(#342d3d, #777777);

}

.footer-main {
    background: linear-gradient(#544f5a, #342d3d);
}

.bg_gray_gradient {
    background: linear-gradient(rgb(253, 253, 253), #544f5a);
}

.bg_block {
    background: linear-gradient(rgb(253, 253, 253), #544f5a);
}

.bg_block_reverse {
    background: linear-gradient(#544f5a, rgb(253, 253, 253));
}

.blur-img {
    filter: blur(2px);
}

.name_page {
    text-transform: uppercase;
}

.end_side {
    display: flex;
    flex-direction: row-reverse;
}

.col_custom {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.col-reverse {
    display: flex;
    flex-direction: column-reverse !important;
}

.col-not-reverse {
    display: flex;
    flex-direction: column !important;
}

.pad-2 {
    padding-left: 2.5rem;
    /* padding-right: .5rem !important; */
}

.pad-1 {
    padding-left: 3rem !important;
}

.mar-1 {
    margin-right: 2rem !important;
}

.ml-auto {
    margin-left: auto;
    margin-right: auto;
}

.width-45 {
    width: 45%;
    margin: auto;
}


.width-45-mr {
    width: 45%;
    margin: auto;
}

.width-90 {
    width: 95%;
    margin-left: 2rem;
}

.width-min {
    width: max-content !important;
}

.w-img {
    width: 500px;
    height: 350px;
    min-width: 300px;
    min-height: 220px;
}

.pointer {
    cursor: pointer;
}

.parent-for-img {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 2.5rem;
}

.m-my-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-min-width {
    min-width: 355px !important;
}

.my-col {
    display: flex;
    flex-direction: column;
}

.wid {
    max-width: 400px !important;
}

.h-max-c {
    height: 80%;
}

.pos_desc_abs {
    position: absolute;
    z-index: 99;
    top: 20%;
    left: 10%;
    text-align: right;
    padding: 1rem;
}

.pos_wrap_ads {
    position: absolute;
    z-index: 999;
    text-align: center;
    padding: 0;
}

.h-blur {
    filter: blur(1px);
}

.h-blur:hover {
    filter: none;
}

.border-15 {
    border-radius: 15px;
}