.h-max {
    min-height: 100%;
}

.h-500 {
    height: 450px;
}

.h-min-c {
    height: min-content;
}



.marg-for-head {
    margin-left: auto;
    margin-right: auto;

}

.c-black {
    color: black;
}

.c-white {
    color: #fff;
}

.c-blue {
    color: #50b0d6;
}

.text_write {
    font-size: 16px;
}

.smalingl-text {
    font-size: 14px;
    color: white;
}

.sm-text {
    font-size: 14px;
}

.bigger-text {
    font-size: 20px;
}

.most-bigger-text {
    font-size: 22px;
}

.f-italic {
    font-style: italic !important;
}

.f-bold {
    font-weight: bolder !important;
}

.l-text {
    text-align: left !important;
}

.r-text {
    text-align: right !important;
}

.bg_white {
    background-color: rgba(255, 255, 255, 0.67);
}

.header-main {
    background: linear-gradient(#342d3d, #777777);

}

.footer-main {
    background: linear-gradient(#544f5a, #342d3d);
}

.bg_gray_gradient {
    background: linear-gradient(rgb(253, 253, 253), #efedf0);
}

.bg_gray_gradient_prod {
    background: linear-gradient(#f6f4f7, #bbbbbb) !important;
}

.bg_gray_gradient_prod_mobile {
    background: linear-gradient(#f0f0f0, #bbbbbb) !important;
}

.bg_gray_gradient_once_about {
    background: linear-gradient(#f4f2f4, #bbbbbb) !important;
}

.bg_block {
    background: linear-gradient(rgb(253, 253, 253), #544f5a);
}

.bg_block_reverse {
    background: linear-gradient(#544f5a, rgb(253, 253, 253));
}

.bg_block_reverse_double {
    background: linear-gradient(rgb(238, 236, 236),
            #dcd8e0 40%,
            #ccc9cf 50%,
            #dcd8e0 60%, rgb(253, 253, 253));
}

.back-gr {
    background-color: #342d3d;
}

.blur-img {
    filter: blur(2px);
}

.name_page {
    text-transform: uppercase;
}

.end_side {
    display: flex;
    flex-direction: row-reverse;
}

.col_custom {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.col-reverse {
    display: flex;
    flex-direction: column-reverse !important;
}

.col-not-reverse {
    display: flex;
    flex-direction: column !important;
}

.pad-2 {
    margin-left: 2.5rem;
    /* padding-right: .5rem !important; */
}

.pad-1 {
    margin-left: 3rem !important;
}

.pd-10 {
    padding-top: 10% !important;
}

.mar-1 {
    margin-right: 2rem !important;
}

.ml-auto {
    margin-left: auto;
    margin-right: auto;
}

.width-45 {
    width: 45%;
    margin: auto;
}


.width-45-mr {
    width: 45%;
    margin: auto;
}

.width-90 {
    width: 95%;
    margin-left: 2rem;
}

.width-min {
    width: max-content !important;
}

.w-img, .w-img-mobile {
    width: 80%;
    height: 350px;
    min-width: 300px;
    min-height: 220px;
    margin: auto;
}

.w-img-mobile {
    width: 100%;
    margin: 0;
}

.pointer {
    cursor: pointer;
}

.parent-for-img-not-rev, .parent-for-img-not-rev-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: .5rem;
}

.parent-for-img-not-rev-mobile {
    padding-right: 0;
    margin: auto;
}

.parent-for-img, .parent-for-img-mobile {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding-right: .5rem;
}

.parent-for-img-mobile {
    padding-right: 0;
    margin: auto;
}

.m-my-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-min-width {
    min-width: 355px !important;
}

.my-col {
    display: flex;
    flex-direction: column;
}

.wid {
    max-width: 400px !important;
}

.h-max-c {
    height: 80%;
}

.pos_down_20 {
    position: absolute;
    top: 20%;
    left: 5%;
    z-index: 1;
}

.pos_desc_abs {
    position: absolute;
    z-index: 99;
    top: 20%;
    left: 10%;
    text-align: right;
    padding: 1rem;
}

.pos_wrap_ads {
    position: absolute;
    z-index: 999;
    text-align: center;
    padding: 0;
}

.h-blur {
    filter: blur(1px);
}

.h-blur:hover {
    filter: none;
}

.border-15 {
    border-radius: 15px;
}

.shadow-dr {
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0) !important;
}

.f-decor {
    font-family: "Abril Fatface" !important;
    text-align: center !important;
}

/* Services orGoods */
.space-between-letters {
    letter-spacing: 1rem;
}

.space-between-letters-06 {
    letter-spacing: .4rem;
}

.col-switch {
    flex: 0 0 auto;
    width: 25%;
    position: absolute;
}

.top-switch {
    top: 15px;
}

.inx-9999 {
    z-index: 998;
}

.inx-9998 {
    z-index: 9998;
}

.w-for-button {
    width: 228px !important;
}

.goods_title {
    position: absolute;
    width: 50%;
    height: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
    top: 5%;
    left: 25%;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.pad-mob-top {
    padding-top: 40px;
}

/* SideNavigator */

.under-side-border {
    margin: 1rem;
    color: inherit;
    border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-top: 1px solid;
    opacity: 0.25;
}

/* HEADER */
.pos_fix,
.pos_fix_contact {
    position: fixed;
    top: 55px;
    z-index: 999;
}

.pos_fix_contact {
    top: 0;
    z-index: 999;
    width: 100%;
    text-align: right;
    height: 45px;
    background-color: white;
}

.margin-3 {
    margin: 1rem;
    margin-top: 80px;
}