.h-max {
    min-height: 100%;
}

.c-black {
    color: black;
}

.text_write {
    font-size: 16px;
}

.smalingl-text {
    font-size: 14px;
}

.f-italic {
    font-style: italic !important;
}

.f-bold {
    font-weight: bolder !important;
}

.l-text {
    text-align: left !important;
}

.header-main {
    background: linear-gradient(rgb(211, 203, 195), rgb(233, 226, 227));
}

.footer-main {
    background: linear-gradient(rgb(233, 226, 227), rgb(211, 203, 195));
}

.bg_gray_gradient {
    background: linear-gradient(rgb(253, 253, 253), rgb(196, 195, 195));
}

.name_page {
    text-transform: uppercase;
}

.end_side {
    display: flex;
    flex-direction: row-reverse;
}

.col_custom {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.width-45 {
    width: 45%;
    margin-left: 2rem;
}

.width-min {
    width: max-content !important;
}

.pointer {
    cursor: pointer;
}

.m-my-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-col {
    display: flex;
    flex-direction: column;
}